/* _main */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap');

* {
    font-family: 'Nanum Gothic Coding', monospace;
}

a {
    color: $primary-light;
    text-decoration: none;
}

body {
    background-color: $primary-light;
}

header {
    font-family: 'Nanum Gothic Coding', monospace;
    @include header-footer;
    align-items: center;
    justify-content: space-evenly;
}

main {
    padding: 1rem;
    margin: 2.5rem;
    color: $primary-dark;
    background-color: $primary-light;
}

footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 1rem;
    @include header-footer;
    justify-content: flex-end;
}

.header-text {
    font-size: 2rem;
    font-weight: 500;
}