/* _main */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Gothic+Coding&display=swap');

a {
    color: $primary-light;
    text-decoration: none;
}

body {
    background-color: $primary-light;
    font-family: 'Nanum Gothic Coding', monospace;
}

header {
    @include header-footer;
    align-items: center;
    justify-content: space-evenly;
}

nav {
    line-height: 1.25;
    font-weight: bolder;
}

main {
    padding: 1rem;
    margin: 2.5rem;
    font-family: 'Nanum Gothic', sans-serif;
    color: $primary-dark;
    background-color: $primary-light;
}

footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 1rem;
    @include header-footer;
    justify-content: flex-end;
}

em {
    font-weight: bolder;
}

h1, h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.5rem;
    margin: 0.5rem;
    line-height: 1.35;
}

.header-text {
    font-size: 2rem;
    font-weight: 500;
}